<html lang="ru">
<head>
    <title>StarLab</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/hrdiagram.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/structure.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
</head>
<body>
<div class="main">
    <nav class="navbar">
        <a class="navbar-logo" href="{% url 'index' %}"></a>
    </nav>
    <div class="body">
        <div class="section">

            <div class="hr-diagram-wrapper">
                <div class="hr-header text-center">
                    <div>Hertzsprung–Russell Diagram</div>
                    <div><b>Stage: </b><span class="stage-label"></span></div>
                </div>
                <div class="hr-diagram" id="hr-diagram">
                    <div class="hr-point" id="hr-point"></div>
                </div>
                <div class="hr-footer"></div>
            </div>

            <div class="structure" id="structure">

            </div>

        </div>
        <div>
            <div class="properties">
                <div style="width:30rem; padding:1rem">
                    <div class="server-input">
                        <form>
                            <div><small>Mass:</small></div>
                            <div id="input-mass">
                                <input name="mass" type="text" value="{{ curMass }}">
                            </div>
                                <button>Generate!</button>
                            <div>
                            </div>
                            <div>{{ generated }}</div>
                        </form>
                        <div class="play-settings">
                            <div>
                                Controls:
                                <div>
                                    <button onclick="togglePlay()" id="start-stop-btn">Start</button>
                                </div>
                                <div class="rewind">
                                    Rewind:
                                    <div>
                                        <button onclick="rewind(-10)">-10</button>
                                        <button onclick="rewind(-1)">-1</button>
                                        <button onclick="rewind(+1)">+1</button>
                                        <button onclick="rewind(+10)">+10</button>
                                    </div>
                                </div>
                            </div>
                            <div class="speed">
                                Speed:
                                <div>
                                    <button onclick="changeSpeed(0.5)">0.5</button>
                                    <button onclick="changeSpeed(2)">2</button>
                                </div>
                                Current Speed: <span id="fps"></span>FPS
{#                                <label>#}
{#                                    Enable equal timeframe#}
{#                                    <input type="checkbox" onclick="">#}
{#                                </label>#}
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width: 25rem; padding: 1rem">
                    <div><b>Age: </b><span class="age-label"></span></div>
                    <div><b>Luminosity: </b><span class="luminosity-label"></span></div>
                    <div><b>Temperature: </b><span class="temperature-label"></span></div>
                    <div><b>Radius: </b><span class="radius-label"></span></div>
                    <div><b>Mass: </b><span class="mass-label"></span></div>
                    <div><b>Stage: </b><span class="stage-label"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% load static %}
{#<script src="{% static 'js/db.js' %}"></script>#}
<script src="{% static 'js/HRDiagram.js' %}"></script>
<script src="{% static 'js/Structure.js' %}"></script>

<script>

    availableMasses = {{ masses|safe }}

    inputMass = document.getElementById("input-mass")

    const inputData = {{ data|safe }}

    hrdiagram = new HRDiagram("hr-diagram")
    structure = new Structure("structure")

    let evenedData = []

    {#evenData()#}
    {#let data = evenedData#}

    let data = inputData

    hrdiagram.genTrack(data)

    function evenData(){
        evenedData = []
        let sumAgesGaps = 0

        for(let i = 1; i < inputData.length;++i){
            sumAgesGaps += (inputData[i].properties.age - inputData[i-1].properties.age)
        }

        let averageAgeGap = sumAgesGaps/inputData.length

        {#console.log(averageAgeGap)#}

        function linearScale(x, x1, x2, y1, y2){
            {#console.log(x)#}
            {#console.log(x1)#}
            {#console.log(x2)#}
            {#console.log(y1)#}
            {#console.log(y2)#}
            {#console.log("x2-x1 = "+(x2-x1))#}
            return y1+(x-x1)*(y2-y1)/(x2-x1)
        }

        function findLeftBound(startIndex, age){
            let i = startIndex
            while(i >= 0){
                if(inputData[i].properties.age<age){
                    {#console.log("L Props Age: "+inputData[i].properties.age)#}
                    {#console.log("L Age: "+age)#}
                    {#console.log("L Delta: "+(age-inputData[i].properties.age))#}

                    return i
                }
                --i;
            }
        }

        function findRightBound(startIndex, age){
            let i = startIndex
            while(i < inputData.length){
                if(inputData[i].properties.age>age){
                    {#console.log("R Props Age: "+inputData[i].properties.age)#}
                    {#console.log("R Age: "+age)#}
                    {#console.log("R Delta: "+(age-inputData[i].properties.age))#}

                    return i
                }
                ++i;
            }
            {#console.log(i)#}

        }

        for(let i = 1; i < inputData.length; ++i){
            let curAge = i*averageAgeGap
            let leftBoundAge = findLeftBound(i, curAge)
            let rightBoundIndex = findRightBound(i, curAge)
            let rightBoundAge = inputData[rightBoundIndex].properties.age
            {#console.log("INDEX LEFT: "+i)#}
            {#console.log("INDEX RIGHT: "+rightBoundIndex)#}
            evenedData.push({
                structure: false,
                properties: {
                    luminosity: linearScale(curAge, leftBoundAge, rightBoundAge, inputData[i].properties.luminosity, inputData[rightBoundIndex].properties.luminosity),
                    temperature: linearScale(curAge, leftBoundAge, rightBoundAge, inputData[i].properties.temperature, inputData[rightBoundIndex].properties.temperature),
                    stage: Math.trunc(linearScale(curAge, leftBoundAge, rightBoundAge, inputData[i].properties.stage, inputData[rightBoundIndex].properties.stage)),
                    age: curAge,
                    radius: linearScale(curAge, leftBoundAge, rightBoundAge, inputData[i].properties.radius, inputData[rightBoundIndex].properties.radius),
                    mass: linearScale(curAge, leftBoundAge, rightBoundAge, inputData[i].properties.mass, inputData[rightBoundIndex].properties.mass),

                }
            })
            i = rightBoundIndex
        }
    }

    function beautifyNumber(num, toFixed=0){
        let str = Math.trunc(num)+""
        let res = ""
        for(let i = 0; i < str.length;++i){
            res += str[i]
            if((i + (3 - str.length % 3) + 1) % 3 === 0){
                res+=" "
            }
        }

        let frac = (num.toFixed(toFixed)%1).toFixed(toFixed)
        res = res.trim() + (frac+"").substring(1)

        return res
    }

    function setProp(label, value) {
        let labels = document.getElementsByClassName(label)
        for (let i of labels) {
            i.innerHTML = value
        }
    }

    function phaseToStr(phase) {
        let arr = {
        "-1": "PMS",
        0: "MS",

        1:"MS",

        2: "RGB",
        3: "CHeB",
        4: "EAGB",
        5: "TPAGB",
        6: "PAGB",

        7: "PAGB",
        8: "WR",

        9: "WR",
        }
        return arr[Math.round(phase)]
    }

    let index = 0

    function step(stage) {
        ++index;
        hrdiagram.setPoint(stage.properties.luminosity, stage.properties.temperature)
        structure.setStructure(stage)
        {#setProp("age-label", stage.properties.age.toFixed(2))#}
        {#setProp("age-label", (stage.properties.age/1000000).toFixed(2)+" Myrs")#}
        setProp("age-label", beautifyNumber(stage.properties.age, 2))
        setProp("luminosity-label", stage.properties.luminosity.toFixed(3))
        setProp("temperature-label", stage.properties.temperature.toFixed(2))
        setProp("radius-label", stage.properties.radius.toFixed(2))
        setProp("mass-label", stage.properties.mass.toFixed(2))
        setProp("stage-label", phaseToStr(stage.properties.stage))

        if (index >= data.length - 1) {
            togglePlay()
        }
    }


    let timeoutsIDs = []
    let timeout = 100
    let timeoutInc = 12.5


    function start() {
        timeout = 0
        if (index >= data.length - 1) {
            index = 0
        }
        for (let i = index; i < data.length; ++i) {
            timeoutsIDs.push(setTimeout(step, timeout += timeoutInc, data[i]))
        }
    }

    let isStarted = false;

    function togglePlay() {
        let btn = document.getElementById("start-stop-btn")
        if (isStarted) {
            stop()
            btn.innerHTML = "Start"
        } else {
            start()
            btn.innerHTML = "Stop"
        }
        isStarted = !isStarted;
    }

    function toggleEqualDataFrame(){

    }

    function stop() {
        for (let i of timeoutsIDs) {
            clearTimeout(i)
        }
        timeoutsIDs = []
    }

    function rewind(count) {
        togglePlay()
        if (index + count > (data.length - 1)) {
            index = data.length - 1
        } else if (index + count < 0) {
            index = 0
        } else {
            index = index + count;
        }
        togglePlay()
        step(data[index])
        --index;
    }

    function changeSpeed(divider) {
        togglePlay();
        timeoutInc /= divider;
        togglePlay();
        document.getElementById("fps").innerHTML = 1000 / timeoutInc + ""
    }

    changeSpeed(1)
    step(data[0]);
</script>
</html>