.hr-diagram-wrapper {
    display: flex;
    width: 30rem;
    height: 25.6rem;
    background-image: url("../img/hrdiagram.png");
    /*//width:30rem;*/
    background-size: contain;
    background-repeat: no-repeat;
    /*//width: 100%;*/
    /*//height: 100%;*/
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    border: solid 0.2rem #00ccff;
    border-radius: 0.5rem 0 0 0;

}

.hr-diagram {
    position: relative;
    /*//width: 100%;*/
    /*//height: 100%;*/
    /*//background-color: aqua;*/
    /*//min-width: 50rem;*/
    /*//min-height: 40rem;*/
    width: 83%;
    height: 75%;
    display: flex;
    /*//border: solid 0.2rem #00ccff;*/
    /*//border-radius: 0.5rem 0 0.5rem 0;*/

    /*//align-items: end;*/

}

.hr-point {
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 3rem;
    background-color: rgba(255, 0, 0, 0.5);
    z-index: 2;
    top: 0;
    left: 0;
    transition: 0.025s;
}

.track {
    position: absolute;
    width: 0.15rem;
    height: 0.15rem;
    z-index: 0;
    background-color: gray;
    border-radius: 0.5rem;
}

.hr-header {
    height: 1rem;
    text-align: center;
}

.hr-footer {
    height: 1rem;
}