.main {
    width: 50%;
    min-width: 60rem;
    margin: auto;
    font-family: Open Sans, serif;
}

html, body {
    padding: 0 !important;
    margin: 0 !important;
}

.body {
    /*display: flex;*/
    border: solid #0088ff;
    border-radius: 0.65rem;
    /*flex-wrap: wrap;*/
    /*background-color: blanchedalmond;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.checkbox-div {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    /*padding-top:1rem;*/
}

.properties-card {
    position: relative;
    border: solid 0.1rem #00ccff;
    border-radius: 0.5rem;
    padding: 1rem;
    display: inline-block;
    margin-bottom: 1rem;
    width: 100%;
}

.properties-card-header {
    position: absolute;
    font-size: 0.75rem;
    color: #0088ff;
    background-color: white;
    top: -0.75rem;
    display: inline;
    padding: 0.2rem;
}

#input-mass {
    height: 2rem;
    display: flex;
}

#loading-lbl{
    display: flex;
    align-items: center;
    margin-left: 3rem;
}

.properties-section{
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.control-section{
    padding: 1rem;
}