.main{
  width: 50%;
  min-width: 53rem;
  margin: auto;
  font-family: Open Sans, serif;
}
html, body{
  padding: 0!important;
  margin: 0!important;
}
.body{
  /*display: flex;*/
  border: solid #0088ff;
  border-radius: 0.65rem;
  /*flex-wrap: wrap;*/
  /*background-color: blanchedalmond;*/
}
.properties{
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}
.section{
  display: flex;
  width: 100%;
}
.checkbox-div{
  display: flex;
    justify-content: center;
  align-content: center;
  align-items: center;
  /*padding-top:1rem;*/
}
.checkbox-div > div{
  margin-left: 1rem;

}